doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")

  style.
    body {
    background-color: black;
    }
    h1{
      color:white;
    }
    .half{
      width:20%; 
    }
    .left{
      float:left;
    }
    label{
      color:white;
    } 
    a{
      padding:10px;
      margin-left:10px;
      background-color:#008080;
      border-radius:5px;
      color:white;} 
  body 
    div 
      .container
        h1= title
        form(method='POST' action='/members/edit/#{dataMember.id}') 
          div.form-group
            label(for='email') NRP:
            input.form-control(type='text', placeholder='#{dataMember.nrp}' value='#{dataMember.nrp}' name='RegUsername') 
          div.form-group
            label(for='pw') Password:
            input.form-control(type='password', placeholder='#{dataMember.pass}' value='#{dataMember.pass}' name='RegPassword')  
          div.form-group 
            label(for='pw') current time start #{dataMember.timeaccessstart}, time end #{dataMember.timeaccessend}
          div.form-group  
            input.form-control.half.left(type='time',  value="#{dataMember.timeaccessstart}" name='RegTimeAllowedStart')  
            input.form-control.half(type='time',  value="#{dataMember.timeaccessend}"  name='RegTimeAllowedEnd')  
          button.btn.btn-primary(type='submit') save  
          a(href="/") cancel