doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
  style.
    body {
    background-color: white;
    color:white;
    }
    .jumbotron{
    background-color:black; 
    margin-top:100px;
    padding:10px;
    }
  body 
    div 
      .container 
        .jumbotron
          h1.
            hello #{nrp} how are you today?
          h3.
            NRP = #{nrp} 
          h3.
            Password = #{password} 
          h3.
            time acess = #{start} - #{end}  
          p.  
            click to #[a(href="/logout/#{nrp}") logout #[span]]  
            click to #[a(href="/members/edit/#{id}") edit #[span]]   
            click to #[a(href="/") main menu #[span]]   
             
 
  

